/*bagian head*/
@media (max-width: 992px) {
    .col-lg-7, .col-lg-5 {
      flex: 0 0 calc(100% - 20px);
      max-width: calc(100% - 20px);
      margin-right: 0;
    }
}
@media (max-width: 768px) {
    .home-heading {
      font-size: 1.5em;
    }
} 
@media (max-width: 576px) {
    .home-heading {
      font-size: 1.2em;
    }
    .btn-home {
      flex-direction: column;
    }
    .home-links, .btn-2 {
      margin-bottom: 10px;
    }
    .img-container {
      text-align: center;
    }
}
/*bagian konten 1*/
